#body {
    background-color: #d13cae;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
}
#header {
    margin-bottom: 10px;
    text-align: center;
}
#title  {
    color: black;
    font-size: 3em;
}
#img-div {
    background: white;
    padding: 10px;
    margin: 0;
    border: 2px solid black;
    border-radius: 15px;
}
#figcaption {
    color: rgb(78, 69, 69);
    font-size: 1em;
}
.attribution    {
    color: rgb(78, 69, 69);
    font-size: 0.75em;
    font-style: italic;
}
#footer {
    text-align: center;
    }

/* Responsive section */
.responsive {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
    margin-left: auto;
    margin-right: auto;
}
/* Hover Effect for Pointer */
a:hover {
    text-decoration: wavy;
    }